<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
    <key>UIStatusBarTintParameters</key>
    <dict>
        <key>UINavigationBar</key>
        <dict>
            <key>Style</key>
            <string>UIBarStyleDefault</string>
            <key>Translucent</key>
            <false/>
        </dict>
    </dict>
    <key>NFCReaderUsageDescription</key>
    <string>This app creates fish tags</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>nfc</string>
    </array>
    <key>com.apple.developer.nfc.readersession.formats</key>
    <array>
        <string>TAG</string>
        <string>NDEF</string>
    </array>
    <key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
    <array>
        <string>1122334455667788</string>
        <string>0102030405060708090102</string>
        <string>f1f2f3f4f5f6f7f8f9f1f2</string>
        <string>1122334455FF</string>
        <string>010203deadc0d3000000ff</string>
        <string>b125005ec0200000000001</string>
        <string>315041592E5359532E4444463031</string>
        <string>325041592E5359532E4444463031</string>
        <string>44464D46412E44466172653234313031</string>
        <string>A00000000101</string>
        <string>A0000000041010</string>
        <string>A000000003000000</string>
        <string>A00000000300037561</string>
        <string>A0000000050001</string>
        <string>A0000000050002</string>
        <string>A0000005271002</string>
        <string>A000000527200101</string>
        <string>A000000527210101</string>
        <string>A00000061700</string>
        <string>A0000000040000</string>
        <string>A0000000035350</string>
        <string>A000000003535041</string>
        <string>A000000018434D</string>
        <string>A000000018434D00</string>
        <string>A0000001510000</string>
        <string>A000000476A010</string>
        <string>A0000000960200</string>
        <string>A0000002471001</string>
        <string>A0000002472001</string>
    </array>
</dict>
</plist>
